.btn-responsive {
  font-size:1em;
  line-height: 1.2em;
  border-radius:3px;
  width:100%;
}

.btn-responsive-full {
  font-size:0.9em;
  line-height: 1.2em;
  border-radius:3px;
  width:100%;
  padding-right: 3px;
  padding-left: 3px;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: .25rem;
}

.tooltip.show {
    opacity: 1;
}

.tooltip {
  pointer-events: none;
}
