html,body{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
}
#jonnav{
    width: 100%
    font-family:'Open Sans',sans-serif;
    font-size: 1.1em;
    -webkit-transition: all 0.8s ease;
    background-color: none;
}
.navactive{
    background-color: #7480d9;
}
.nav-link{
    color:white;
}
.nav-link:hover {
    color: #d9cd74;
}
.navbar>li {
    float: none;
    text-align: center;
    display: inline-block;
}
#profilecontainer{
    min-width: 30%;
}
#banner{
    height:100%;
    width:100%;
    display:table;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/banner/jon.jpg);
}
#bannertextwrapper{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);;
    color: white;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.95;
}
.jumbotron {
    background-color: #e4f0ff;
}
.pfptitle {
  padding-bottom: 1%;
  padding-left: 5%;
}
.shrink {
  width: 30%;
  height: auto;
}
.shrink2 {
  width: 19%;
  height: auto;
}

.proj1 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ebc3ca;
}

.bobaelem {
  list-style:none;
  vertical-align: middle;
  font-size:1.2em;
}

.bobaelem:before {
  content:'';
  display:inline-block;
  height:1.75em;
  width:1.75em;
  vertical-align: middle;
  background-image:url(../img/cup.png);
  background-size:contain;
  background-repeat:no-repeat;
}

.proj2 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e4f0ff;
}

.nodeelem {
  list-style:none;
  vertical-align: middle;
  font-size:1.2em;
}

.nodeOne:before {
  content:'';
  display:inline-block;
  height:1.75em;
  width:1.75em;
  vertical-align: middle;
  background-image:url(../img/oneNode.png);
  background-size:contain;
  background-repeat:no-repeat;
}

.nodeTwo:before {
  content:'';
  display:inline-block;
  height:1.75em;
  width:1.75em;
  vertical-align: middle;
  background-image:url(../img/twoNode.png);
  background-size:contain;
  background-repeat:no-repeat;
}

.nodeThree:before {
  content:'';
  display:inline-block;
  height:1.75em;
  width:1.75em;
  vertical-align: middle;
  background-image:url(../img/threeNode.png);
  background-size:contain;
  background-repeat:no-repeat;
}

.proj3 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f69c5d;
}

.bearelem {
  list-style:none;
  vertical-align: middle;
  font-size:1.2em;
}

.bearelem:before {
  content:'';
  display:inline-block;
  height:1.75em;
  width:1.75em;
  vertical-align: middle;
  background-image:url(../img/badBear.png);
  background-size:contain;
  background-repeat:no-repeat;
}

.academ {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e3e3e3;
}

ul li {
  color: #ffffff;
  /* set color of list item text */

  list-style: none;
}
