body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("paper.jpg");
    margin: 0;
}

h1 {
    color: black;
    font-size: 200%;
    margin-left: 10px;
}

p {
    color: black;
    font-size: 120%;
    margin-left: 20px;
}

g {
    color: gray;
    font-size: 100%;
    margin-left: 20px;
}

l {
	display: block;
    color: black;
    font-size: 100%;
    margin-left: 40px;
}

.header {
    padding: 80px;
    text-align: center;
}

.content {
    text-align: left;
}


/* Taken from w3 shcools online https://www.w3schools.com/howto/howto_js_topnav.asp */
/* Add a black background color to the top navigation */
.topnav {
    background-color: #99AAFE;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.4s;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #8195FF;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #F3FF00;
    color: black;
}